@use "../../foundation/variables" as *;

.u-colors {
  &-black {
    color: $color-black;
  }

  &-gray {
    color: #9b9b9b;
  }

  &-border-lightblue {
    border-top: 3px solid #8eb6d4 !important;
    border-right: 3px solid #8eb6d4 !important;
  }
} 
