body {
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 1;
}

#p_section_alt {
  margin-top: 80px;
}

header {
  background-color: #ffffff;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #666;
}

.p_header_ul {
  list-style: none;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

header li {
  margin: 0 0 0 32px;
  font-size: 14px;
  font-weight: 700;
}

nav {
  margin: 0 0 0 auto;
}

.p_header_item{
  width: 50px;
  height: 50px;
  border: #eee solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_mainvisual {
  text-align: right;
  position: relative;
}

.p_mainvisual img {
  width: 976px;
  height: auto;
  border-radius: 80px 0px 0px 80px;
}

.p_mainvisualInner {
  background-color: #eff2f5;
  border-radius: 24px;
  position: absolute;
  top: 198px;
  left: 80px;
  padding: 62px;
}

.p_mainvisualInner_title{
  color: #0071bc;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.8px;
  font-style: normal;
}

.p_mainvisualInner_catchcopy{
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.3333;
  margin-top: 10px;
}

.p_mainvisual_sd{
  display: block;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding-left: 130px;
  transform: translateY(-30px);
}

.p_mainvisual_sd:before{
  content: "";
  width: 8px;
  height: 8px;
  margin: 0 6px 2px 0; 
  display: inline-block;
  border-radius: 100%;
  background: #adadad;
}

.p_whatposse {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  margin-top: 96px;
}

.p_whatposse h2{
  font-weight: 700;
}

.p_whatposse p{
  font-size: 14px;
  font-weight: 700;
  color: #0071bc;
}

.p_whatposse_aboutWrapper {
  max-width: 984px;
  margin: 0 auto;
  margin-top: 43px;
  display: flex;
  align-items: center;
}

.p_whatposse_aboutWrapper span {
  padding-left: 40px;
  font-size: 14px;
  font-weight: 400;
}

.p_whatposse_aboutWrapper img {
  border-radius: 24px;
  width:472px;
  height:auto;
}

.p_line {
  width: 984px;
  height: 357px;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 48px;
  background-image: url(../img/bg-line.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
}

.p_line::before {
  content: "";
  background-color: #0071bc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  border-radius: 48px;
  z-index: 1;
}

.p_lineInner{
  width: 600px;
  height: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.p_line h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 64.8px;
  height: 65px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.p_line span,p {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-align: center;
}

.p_lineInner a{
  width: 320px;
  height: 50px;
  margin-top: 24px;
  background-color: #ffffff;
  border-radius: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#p_line_ad_img {
  width:12.25px;
  height:12.25px;
  position: absolute;
  right: 20px;
}

#p_line_icon {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 15px;
}

.p_footter {
  height: 274.22px;
  margin-top: 136px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: #eeeeee solid 2px;
}

#p_footter_logo{
  width: 202px;
  height: 39.22px;
}

.p_footterInner{
  color: #666666;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}


.p_footterInner img{
  width: 16px;
  height: 16px;
}



.p_footterInner_sns{
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.p_footterInner_sns img {
  width: 60px;
  height: 60px;
  padding: 16.5px;
}

.p_footerInner_sns_item{
  border: #eee solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.p_footerInner_sns_item img{
  width: 55%;
  height: 55%;
}

.p_footterInner_small {
  height: 80px;
  border-top: solid #eeeeee 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_footterInner_small small {
  font-weight: 400;
  color: #666666;
}


.p_footter_line {
  width: 288px;
  height: 80px;
  background: #5fdf5b;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin: 0 0 0 auto;
  display: flex;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#p_footter_line_icon {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_footter_line img {
  width: 36px;
  height: 36px;
}

.p_footter_line p {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.14em;
  color: #ffffff;
}

#p_footter_line_link {
  width: 16.43px;
  height: 16.43px;
}

@media screen and (max-width:520px){
  header{
    width: 100%;
    padding-left: 16px;
  }

  header h1 img{
    width: 120px;
    height: 24px;
  }

  .p_header_ul{
    display: none;
  }

  .p_mainvisual img{
    width: 100%;
    border-radius: 0;
  }

  .p_mainvisualInner {
    padding: 20px 11px 20px 24px;
    top: 87%;
    left: 4%;
  }

  .p_mainvisualInner_title{
    font-size: 12px;
  }

  .p_mainvisualInner_catchcopy{
    margin-top: 0;
    font-size: 28px;
    letter-spacing: 0;
  }

  .p_mainvisualInner_catchcopy br{
    display: none;
  }

  .p_mainvisual_sd{
    display: none;
  }

  .p_whatposse{
    margin-top: 150px;
  }

  .p_whatposse h2{
    font-size: 24px;
  }

  .p_whatposse p{
    font-size: 14px;
  }

  .p_whatposse_aboutWrapper{
    flex-direction: column;
  }

  .p_whatposse_aboutWrapper img{
    width: 343px;
  }

  .p_whatposse_aboutWrapper span{
    padding: 16px;
  }

  .p_line{
    width: 94%;
  }

  .p_lineInner{
    width: 100%;
  }
  
  .p_footter_line{
    width: 100%;
    height: 48px;
    border-radius: 0;
    bottom:0;
    right: 0;
  }

  .p_footter_line br{
    display: none;
  }

  .p_footterInner_small{
    margin-bottom: 48px;
  }
}
