@use "../../foundation/variables" as *;

.p-modal {
  display: none;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    inset: 0;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    & button {
      width: 50px;
      height: 50px;
      margin-right: 30px;
      border-radius: 50%;
      background-color: $color-gray;
    }
  }

  &__content {
    width: 900px;
    height: 600px; //ä»®
    border-radius: 40px;
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: calc(100% - 112px);
    margin: 0 auto;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 25px;

    & dt {
      font-size: 15px;
    }

    &__date {
      & input {
        width: 100%;
        height: 48px;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: $color-gray;
      }
    }

    &__contents {
      &__checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 18px;
      }

      & dd {
        padding: 10px 12px;
        border-radius: 50px;
        background-color: $color-gray;
        font-size: 18px;
        letter-spacing: 0;
      }
    }

    &__languages {
      &__checkboxes {
        @extend .p-modal__left__contents__checkboxes;
      }

      & dd {
        padding: 10px 12px;
        border-radius: 50px;
        background-color: $color-gray;
        font-size: 18px;
        letter-spacing: 0;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__time {
      & input {
        width: 100%;
        height: 48px;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: $color-gray;
      }
    }

    &__twitter {
      & input {
        width: 100%;
        height: 245px;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: $color-gray;       
      }
    }
  }
}
