@use "../../foundation/variables" as *;

.p-modal {
  display: none;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    inset: 0;
  }

  &__close-button {
    margin-top: 20px;

    & button {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: 25px;
      border-radius: 50%;
      background-color: $color-gray;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 25px;
        background: $color-close-button;
        border-radius: 3px;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 25px;
        background: $color-close-button;
        border-radius: 3px;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__content {
    width: 900px;
    height: 600px; //仮
    border-radius: 40px;
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: calc(100% - 112px);
    margin: 0 auto;

    & dt {
      font-size: 14px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__date {
      & input {
        width: 100%;
        height: 48px;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: $color-gray;
      }
    }

    &__contents {
      &__checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        margin-top: 18px;
      }
    }

    &__languages {
      &__checkboxes {
        @extend .p-modal__left__contents__checkboxes;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__time {
      & input {
        width: 100%;
        height: 48px;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: $color-gray;
      }
    }

    &__twitter {
      & input {
        width: 100%;
        height: 245px;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: $color-gray;
      }
    }

    &__twitter-share {
      & label {
        display: flex;
        align-items: center;
      }

      & input {
        width: 0;
        height: 0;
      }

      &__dummy-input {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #cccccc;
        transition: background-color 0.2s;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 35%;
          height: 4px;
          border-radius: 2px;
          transform: translate(-6px, 5px) rotateZ(-135deg);
          transform-origin: 2px 2px;
          background: $color-white;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 55%;
          height: 4px;
          border-radius: 2px;
          transform: translate(-6px, 5px) rotateZ(-40deg);
          transform-origin: 2px 2px;
          background: $color-white;
        }
      }

      & input:checked + .p-modal__right__twitter-share__dummy-input {
        background-color: $color-blue;
      }
    }
  }

  &__record-button {
    margin-top: 25px;
    grid-column-start: 1;
    grid-column-end: 3;

    &__inner {
      display: block;
      width: 280px;
      height: 50px;
      margin: 0 auto;
      border-radius: 50px;
      background: linear-gradient(to right, $color-blue, $color-light-blue-a);
      color: $color-white;
      box-shadow: 0 5px 10px $color-light-blue-a;
      line-height: 50px;
      text-align: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__record-done {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;

    & span:first-child {
      color: #cbdf82;
      font-size: 24px;
    }

    &__circle {
      position: relative;
      width: 80px;
      height: 80px;
      margin-top: 15px;
      background-color: #cbdf82;
      border-radius: 50%;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        height: 5px;
        border-radius: 2px;
        transform: translate(-6px, 13px) rotateZ(-135deg);
        transform-origin: 2px 2px;
        background: $color-white;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 55%;
        height: 5px;
        border-radius: 2px;
        transform: translate(-6px, 13px) rotateZ(-44deg);
        transform-origin: 2px 2px;
        background: $color-white;
      }
    }

    & span:last-child {
      margin-top: 36px;
      font-size: 25px;
    }
  }
}
