@use "../../foundation/variables" as *;

.p-about {
  margin-top: 96px;
  text-align: center;

  &__container {
    max-width: 1016px;
    margin: 0 auto;
    padding: 0 16px;
  }
  &__title {
    font-weight: 700;
    & h2 {
      font-size: 36px;
      line-height: 1.5;
    }

    & span {
      font-size: 14px;
      line-height: 1.8;
      color: $color-blue;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 43px;

    & img {
      width: 472px;
      height: 312px;
      border-radius: 24px;
    }

    & p {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.8;
      text-align: left;
    }
  }
}
