@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  padding: 15px 24px;
  background-color: $color-white;

  @include mobile {
    height: 56px;
    padding: 16px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 150px;
    height: 28px;

    @include mobile {
      width: 120px;
      height: 23px;
    }
  }

  &__items-list {
    display: flex;
    align-items: center;
    gap: 32px;
    color: $color-gray-dark;
    font-weight: 700;

    @include mobile {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 100%;
      width: 100%;
      height: calc(100vh - 56px);
      left: 0;
      right: 0;
      background-color: $color-white;
    }

    & li:nth-child(3),
    li:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid $color-gray-light;
      border-radius: 50%;
    }
  }

  &__hamburger {
    display: none;
    @include mobile {
      display: block;
      height: 14px;
    }

    & span {
      position: relative;
      display: block;
      width: 35px;
      height: 1px;
      border-radius: 2px;
      background-color: $color-black;

      &::after {
        position: absolute;
        top: 14px;
        display: block;
        content: "";
        width: 35px;
        height: 1px;
        border-radius: 2px;
        background-color: $color-black;
      }
    }
  }
}
