@use "../../foundation/variables" as *;

.p-quiz-container {
  max-width: 1016px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 1;
}

.p-quiz {
  margin-top: 120px;

  &__header {
    font-size: 36px;

    &__quizlabel {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 8px;
      background-color: $color-blue;
      color: $color-white;
      line-height: 1.5;
    }

    &__question {
      display: block;
      margin-top: 24px;
      font-weight: 700;
    }

    &__image {
      width: 718px;
      height: 357px;
      margin: 64px auto 0;
    }
  }

  &__answerlabel {
    display: inline-block;
    margin-top: 64px;
    padding: 8px 16px;
    background-color: $color-red;
    color: $color-white;
    border-radius: 8px;
    font-size: 36px;
    line-height: 1.5;
  }

  &__answer-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__choices {
      display: flex;
      justify-content: space-between;

      &__button {
        width: 312px;
        height: 80px;
        margin-top: 16px;
        padding-left: 24px;
        border: 5px solid $color-gray-light;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;

        &:disabled {
          color: $color-black;
        }
      }
    }

    &__answer-true {
      display: none;
      height: 143px;
      background-color: #fff2f5;
      border-radius: 8px;
      font-weight: 700;

      &__textbox {
        margin-left: 40px;
        padding-top: 24px;

        & span:first-child {
          color: $color-red;
          font-size: 24px;
          line-height: 1.5;
        }

        & div {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-top: 16px;

          & span:first-child {
            color: $color-black;
            line-height: 1.8;
          }

          & span:last-child {
            font-size: 18px;
          }
        }
      }
    }

    &__answer-false {
      display: none;
      height: 143px;
      background-color: #eff2f5;
      border-radius: 8px;
      font-weight: 700;

      &__textbox {
        margin-left: 40px;
        padding-top: 24px;

        & span:first-child {
          color: $color-blue;
          font-size: 24px;
          line-height: 1.5;
        }

        & div {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-top: 16px;

          & span:first-child {
            color: $color-black;
            line-height: 1.8;
          }

          & span:last-child {
            font-size: 18px;
          }
        }
      }
    }
  }

  & cite {
    display: block;
    height: 80px;
    padding-left: 64px;
    background-color: #F6F6F6;
    background-image: url(../img/icon/icon-note.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    border-radius: 8px;
    line-height: 80px;
    font-weight: 700;
  }
}

//state
.is-selected {
  border: 5px solid $color-blue;
  color: $color-blue !important;
}

.is-attached-arrow {
  background-image: url(../img/icon/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
}
