@use "../../foundation/variables" as *;

.c-checkbutton {
  font-size: 15px;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    background-color: $color-gray;
    border-radius: 50px;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  & input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    &:checked + .c-checkbutton__container {
      background-color: #e7f3fc;
    }

    &:checked + .c-checkbutton__container .c-checkbutton__dummy-input {
      background-color: $color-blue;
    }
  }

  &__dummy-input {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    transition: background-color 0.2s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35%;
      height: 3px;
      border-radius: 2px;
      transform: translate(-4px, 2px) rotateZ(-135deg);
      transform-origin: 2px 2px;
      background: $color-white;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 55%;
      height: 3px;
      border-radius: 2px;
      transform: translate(-2px, 3px) rotateZ(-48deg);
      transform-origin: 2px 2px;
      background: $color-white;
    }
  }
}
