@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-main {
  margin-top: 20px;

  &__contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 88%;
    margin: 0 auto;

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    @include mobile {
      width: calc(100% - 40px);
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }

  //timeここから
  &__time {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include mobile {
      column-gap: 16px;
      row-gap: 32px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: calc((100% - 40px) / 3);
      height: 140px;
      border-radius: 12px;
      background-color: $color-white;
      font-weight: 600;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

      @include mobile {
        width: calc((100% - 32px) / 3);
        gap: 3px;
        height: 90px;
      }

      & span:first-child {
        color: $color-blue;
        font-size: 20px;

        @include mobile {
          font-size: 16px;
        }
      }

      & span:nth-child(2) {
        color: $color-black;
        font-size: 36px;

        @include mobile {
          font-size: 28px;
        }
      }

      & span:last-child {
        color: $color-light-blue-b;
        font-size: 22px;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    &__chart {
      width: 100%;
      height: 400px;
      border-radius: 12px;
      background-color: $color-white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

      @include mobile {
        position: relative;
      }

      &::before {
        @include mobile {
          content: "";
          position: absolute;
          top: -16px;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          background-color: #77969A;
          width: 95%;
          height: 2px;
          border-radius: 2px;
        }
      }

      @include tablet {
        height: 370px;
      }

      @include mobile {
        height: 170px;
      }

      &__container {
        width: 90%;
        height: 90%;
        margin: 20px auto 0;

        @include mobile {
          height: 140px;
        }
      }
    }
  }
  //timeここまで

  //studying-dataここから
  &__studying-data {
    display: flex;
    gap: 20px;
    height: 560px;

    @include tablet {
      height: auto;
    }

    @include mobile {
      gap: 15px;
      flex-direction: row-reverse;
    }

    &__doughnut {
      width: calc((100% - 20px) / 2);
      height: 100%;
      background-color: $color-white;
      border-radius: 12px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

      @include mobile {
        width: calc((100% - 15px) / 2);
      }

      &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 85%;
        margin: 30px auto 0;

        @include tablet {
          margin-bottom: 30px;
        }

        @include mobile {
          gap: 20px;
          margin: 16px auto;
        }
      }

      &__content {
        height: 240px;

        @include mobile {
          height: 156px;
        }
      }

      &__legends {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        font-size: 16px;

        @include mobile {
          font-size: 12px;
          gap: 8px;
        }

        & li {
          display: flex;
          align-items: center;
          gap: 4px;
          color: #747474;
        }

        & div {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          flex-shrink: 0;

          @include mobile {
            width: 12px;
            height: 12px;
          }
        }
      }

      &__title {
        font-size: 24px;
        font-weight: bold;

        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
  //studying-dataここまで

  //change-monthここから
  &__change-month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    height: 100px;
    font-weight: bold;

    @include mobile {
      height: 60px;
    }

    & span {
      &:first-child,
      &:last-child {
        cursor: pointer;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
      }

      &:first-child {
        border-bottom: 3px solid #0f71bc;
        border-left: 3px solid #0f71bc;
      }

      &:last-child {
        border-top: 3px solid #8eb6d4;
        border-right: 3px solid #8eb6d4;
      }
    }
  }
  //changemonthここまで

  //mobile用記録ボタンここから
  &__button-mobile {
    display: none;

    @include mobile {
      display: block;
      padding: 20px 0;
    }

    & button {
      display: block;
      width: 88%;
      height: 42px;
      margin: 0 auto;
      border-radius: 50px;
      background: linear-gradient(to right, $color-blue, $color-light-blue-a);
      color: $color-white;
      box-shadow: 0 5px 10px $color-light-blue-a;
      line-height: 42px;
      text-align: center;
    }
  }
  //mobile用記録ボタンここまで
}
