@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.c-checkbutton {
  font-size: 15px;

  @include mobile {
    font-size: 12px;
    font-weight: 500;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 8px;
    background-color: $color-gray;
    border-radius: 50px;
    cursor: pointer;
  }

  & input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    &:checked + .c-checkbutton__container {
      background-color: #e7f5ff;
    }

    &:checked + .c-checkbutton__container .c-checkbutton__dummy-input {
      background-color: $color-blue;
    }
  }

  &__dummy-input {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    transition: background-color 0.2s;

    @include mobile {
      width: 20px;
      height: 20px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35%;
      height: 3px;
      border-radius: 2px;
      transform: translate(-3px, 2px) rotateZ(-135deg);
      transform-origin: 2px 2px;
      background: $color-white;

      @include mobile {
        height: 2px;
        transform: translate(-3px, 1px) rotateZ(-135deg);
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 55%;
      height: 3px;
      border-radius: 2px;
      transform: translate(-2px, 3px) rotateZ(-46deg);
      transform-origin: 2px 2px;
      background: $color-white;

      @include mobile {
        height: 2px;
        transform: translate(-1px, 2px) rotateZ(-46deg);
      }
    }
  }
}
